
*{
    margin: 0%;
    padding:0% ;
}

.container{
    width: 700px;
    height: 500px;
    border: 2px solid blue;
    margin-top: 40px auto;
    background-color: aqua;



.item{
    float: left;
}
}
.item1{
    width: 150px;
    height: 150px;
    background-color: rgb(212, 106, 31);
    position: absolute;
    top: 50px;
}
.item2{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 60, 255);
}
.item3{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 191, 0);
}
.paragraph{
    position: fixed;
    color: blanchedalmond;
    background-color: blueviolet;
}
nav{
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 5px black ;
    display: flex;

}
.nav-logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    color: chartreuse;
    font-size: 25px;
}
.nav-logo p span{
    color: rgb(255, 0, 0);
}
ul{
    width: 60%;
    background-color: rgb(186, 124, 31);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
ul li{
    transition-property: color;
    transition-duration: 2  s;
    transition-timing-function: ease;
}
ul li:hover{
    color: blanchedalmond;
    cursor: pointer;

}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-btn button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}
.nav-btn button:hover{
    background-color: black;
    cursor: pointer;
}



.move{
    width:100px;
    height: 100px;
    background-color: blue;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 3s;

}
.move:hover{
    
}